(
  knots: [
    (
      position: (0.0, 0.0),
      interpolation: Linear,
      left_tangent: (
        slope: 1.0,
        mode: Aligned,
        weight: None,
      ),
      right_tangent: (
        slope: 1.0,
        mode: Aligned,
        weight: None,
      ),
    ),
    (
      position: (0.6, 0.8),
      interpolation: Linear,
      left_tangent: (
        slope: 1.3777745,
        mode: Aligned,
        weight: None,
      ),
      right_tangent: (
        slope: 1.3777745,
        mode: Aligned,
        weight: None,
      ),
    ),
    (
      position: (1.0, 0.8),
      interpolation: Linear,
      left_tangent: (
        slope: 0.14450918,
        mode: Aligned,
        weight: None,
      ),
      right_tangent: (
        slope: 0.14450918,
        mode: Aligned,
        weight: None,
      ),
    ),
  ],
)